**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.git/
**/node_modules/
node_modules
npm-debug.log
pnpm-debug.log
dist
coverage
.git
.gitignore
.editorconfig
.vscode
.idea
*.md
.env
.angular
.cache
tmp
temp
*.log
*.swp
*.swo
*~
.DS_Store
Thumbs.db